.card{
    background-color: white;
    padding: 1rem;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 9px 12px rgba(0,0,0,0.2);
    cursor: pointer;padding-bottom: 2rem;
    border: 3px solid;
    border-image: linear-gradient(45deg, #ff6ec4, #7873f5) 1;
    animation: borderAnimation 1s linear infinite;
}

  @keyframes borderAnimation {
  0% {
    border-image: linear-gradient(45deg, #ff6ec4, #7873f5) 1;
  }
  50% {
    border-image: linear-gradient(45deg, #7873f5, #9c6687) 1;
  }
  100% {
    border-image: linear-gradient(45deg, #ff6ec4, #2f2b96) 1;
  }
}
.card h2{
    font-size: 1.6rem;
    text-transform: capitalize;
    color: #2f2b96;
    
}
.card img{
    width: 200px;
    align-items: center;
    margin: auto;
    
    
}

.card i{
    position: absolute;
    right: 10px;
    top: 0;
}


.details-section{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}
.details-section h2 {
    font-weight: 400;
    text-align: center;
    margin:0 auto;
}
.details-section li{
    list-style: none;
    color: rgb(94, 94, 94);
    text-transform: capitalize;
}