
h1{
    font-size: 3rem;
    padding: 1rem;
    margin: auto;
    color: #2f2b96;
}

div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    justify-content: center;
    position: relative;
}
